.container {
    display: flex;
    flex: 0 auto;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    max-width: 400px;
    padding: 20px;
    margin: 10px;

    color: var(--white);

    background-color: var(--soft-red);
    border-radius: 20px;
}

.balance {
}

.balance > span {
    font-size: 14px;

}

.balance > p {
    margin: 0;
    font-size: 24px;
}

.img {
}