:root {
   --soft-red: hsl(10deg 79% 65%);
  --cyan: hsl(186deg 34% 60%);
  --dark-brown: hsl(25deg 47% 15%);
--medium-brown: hsl(28deg 10% 53%);
  --cream: hsl(27deg 66% 92%);
  --very-pale-orange: hsl(33deg 100% 98%);

}

*, *::before, *::after {
  box-sizing: border-box;
}

body {  
  margin: 0;

  font-family: 'DM Sans', sans-serif;
  font-size: 18px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 

